        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Please name the new chat room!</h3>
        </div>
        <form name="newChatRoomForm">
          <input ng-model ="newRoom.value" class="form-control" type = "text" placeholder="Chat Room Name" title="ChatRoomName" />
        </form>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
