<main class="room">
  <table class="chatbox">
    <tr class="room-name">
      <td><h1>Sporrrrrrrts</h1></td>
    </tr>
    <tr class="message-list">
      <td><div class="container">
      Sportsss Time Yaaaa</div></td>
    </tr>
  <tr class="input-bar">
      <td><form name="form.message" ng-submit="send()" novalidate>
        <input class="message" ng-model="usermessage" type="text" required>
      </form></td>
  </tr>
  </table>
</main>



<ng-include src="'/templates/navbar.html'"></ng-include>
<ng-include src="'/templates/memberbar.html'"></ng-include>
